<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Screen</title>
    <link rel="stylesheet" href="profilescreen.css">
</head>
<body>
    <div class="profile-container">
        <img class="profile-avatar" src="https://i.imgur.com/6VBx3io.png" alt="Avatar">
        <div class="profile-name">Tên người dùng</div>
        <div class="profile-info">
            Email: user@email.com<br>
            Số điện thoại: 0123456752<br>
        </div>
    </div>
</body>
</html>
